.resultitem
{
    height: 100px;
    width: 100%;
    background-color: var(--white);
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.15);
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    position: relative;
}

.resultavatar 
{
    flex: 1;
    /* background-color: tomato; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultavatar > .avatar
{
    display: block;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    background-color: tomato;
}

.resultcontent
{
    flex: 3;
    /* background-color: dodgerblue; */
    padding: var(--comp-padding);
}

.username, .repodesc 
{
    font-weight: lighter;
    font-size: 1rem;
    color: var(--grey);
}

.reponame
{
    margin-top: 0.5rem;
    font-weight: bolder;
    font-size: 1rem;
    color: var(--black);
}

.repodesc
{
    font-size: 0.8rem;
}

.active
{
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 100%;
    background-color: var(--primary);
    border-radius: var(--border-radius) 0 0 var(--border-radius);
}