.resultpane 
{
    max-height: calc(100vh - 4rem - 2rem - 30px - 2rem);
    overflow-y: scroll;
    padding: 0 0.2rem;
}

.resultpane {
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll; 
}

.resultpane::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
