.searchbox 
{
    border-radius: var(--border-radius);
    background-color: var(--light-grey);
    border: none;
    padding: var(--comp-padding);
    font-size: 0.8rem;
    font-weight: normal;
    margin-right: var(--comp-padding);
}

.searchbox::placeholder
{
    color: var(--grey);
    font-size: 0.8rem;
    font-weight: 600;
}

.searchbox:focus 
{
    outline: none;
}