.app
{
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.sidebar 
{
    height: calc(100vh - 70px);
    flex: 2;
    background-color: $white;
    padding: $padding;
}

.sidebar > .header
{
    display: flex;
    justify-content: space-between;
    padding-bottom: $padding;
}

.viewer
{
    height: calc(100vh - 50px);
    flex: 3;
    background-color: $accent2;
    overflow-y: scroll;
    padding: calc(4rem);
}

hr 
{
    border: none;
    border-top: 2px solid $accent2;
    margin-bottom: $margin;
}

.version
{
    height: 50px;
    width: 100%;
    background-image: linear-gradient(to right, rgba($primary, 0.6), rgba($primary, 1.0));
    color: $white;
    text-align: center;
    padding: $padding;
    display: flex;
    justify-content: center;
    align-items: center;
}

.version > span 
{
    display: block;
}


.version > .brand 
{
    font-weight: $extra-bold;
    letter-spacing: -0.8px;
}

.version > .sep 
{
    margin: 0 $margin;
    color: $primary;
    font-weight: $bold;
}

.version > .desc, .version > .vversion 
{
    font-size: 0.8rem;
}